.image-main__wrapper {
  columns: 300px 3;
  gap: 1rem;
  margin: 24px;
  margin-top: 125px;
}

.image-container {
  position: relative;
  margin-bottom: 1rem;
  cursor: zoom-in;
  display: flex;
  flex-direction: column;
}

.image-wrapper {
  position: relative;
  display: flex;
}

.image-overlay{
  position: absolute;
  inset: 0;
}

.image-container:hover .image-overlay {
  background: linear-gradient(
    180deg,
    #00000057 0,
    rgba(0, 0, 0, 0.338) 3.5%,
    rgba(0, 0, 0, 0.324) 7%,
    rgba(0, 0, 0, 0.306) 10.35%,
    rgba(0, 0, 0, 0.285) 13.85%,
    rgba(0, 0, 0, 0.262) 17.35%,
    rgba(0, 0, 0, 0.237) 20.85%,
    rgba(0, 0, 0, 0.213) 24.35%,
    rgba(0, 0, 0, 0.188) 27.85%,
    rgba(0, 0, 0, 0.165) 31.35%,
    rgba(0, 0, 0, 0.144) 34.85%,
    rgba(0, 0, 0, 0.126) 38.35%,
    rgba(0, 0, 0, 0.112) 41.85%,
    rgba(0, 0, 0, 0.103) 45.35%,
    #0000001a 48.85%,
    rgba(0, 0, 0, 0.103) 52.35%,
    rgba(0, 0, 0, 0.112) 55.85%,
    rgba(0, 0, 0, 0.126) 59.35%,
    rgba(0, 0, 0, 0.144) 62.85%,
    rgba(0, 0, 0, 0.165) 66.35%,
    rgba(0, 0, 0, 0.188) 69.85%,
    rgba(0, 0, 0, 0.213) 73.35%,
    rgba(0, 0, 0, 0.237) 76.85%,
    rgba(0, 0, 0, 0.262) 80.35%,
    rgba(0, 0, 0, 0.285) 83.85%,
    rgba(0, 0, 0, 0.306) 87.35%,
    rgba(0, 0, 0, 0.324) 90.85%,
    rgba(0, 0, 0, 0.338) 94.35%,
    rgba(0, 0, 0, 0.347) 97.85%,
    #00000059
  );
}

.image-container img {
  width: 100%;
  background: rgb(210, 208, 208);
}

.image-description {
  display: none;
  align-items: center;
  position: absolute;
  bottom: 25px;
  left: 10px;
  z-index: 5;
  text-decoration: none;
  color: #fff;
}

.image-description .user-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin: 0 10px;
}

.image-description .user-name {
  opacity: 0.8;
  transition: opacity 0.1s linear;
  display: inline-block;
  font-size: 15px;
}

.user-status {
  display: block;
  font-size: 11px;
  opacity: 0.8;
}

.user-name:hover,
.user-status:hover {
  opacity: 1;
}

.image-container:hover .image-description,
.image-container:hover .download-btn {
  display: flex;
  justify-content: center;
}

.image-description:hover {
  color: #fff;
}

.downloaded-image-wrapper {
  height: 160px;
  width: 120px;
  overflow: hidden;
  margin: 10px;
  position: relative;
}

@media screen and (max-width: 670px) {
  .image-main__wrapper {
    margin-left: 0;
    margin-right: 0;
  }

  .image-container {
    flex-direction: column-reverse;
  }

  .image-container:hover .image-overlay{
    background: none;
  }

  .image-description__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 12px;
    margin-top: 16px;
  }

  .image-description__wrapper:first {
    margin-top: 0;
  }

  .image-description {
    display: flex;
    position: static;
    color: #000;
  }
}
